@model NationalParks.Models.RootObject

<h1>Campgrounds</h1>
<hr />

@foreach (var item in Model.data)
{
<div>
    <h3>
        @Html.DisplayFor(modelItem => item.name)
    </h3>
    <div>
        @Html.DisplayFor(modelItem => item.description)

    </div>
    <a href="@item.directionsUrl" target="_blank">
        @Html.DisplayFor(modelItem => item.directionsUrl)
    </a>
    <div>
        <h5>Weather overview: </h5>
        @Html.DisplayFor(modelItem => item.weatheroverview)
    </div>
</div>
<br />
}

<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>